* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

header {
  box-shadow: 0 0 15px 0 #817e81;
  position: fixed;
  background-color: white;
  z-index: 2;
  width: 100%;
}

.logo {
  flex: 1;
}

nav {
  flex: 3;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 30px 50px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

.cart {
  flex: 1;
  text-align: center;
}
main {
  position: relative;
  top: 85px;
}

.cover {
  min-height: 691px;
  background-image: url('../img/other/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  padding: 10%;
}

.hero {
  width: 80%;
  margin-left: 4%;
}

.hero h1 {
  font-size: 68px;
  font-weight: bold;
}

.hero p {
  margin-top: 40px;
  color: white;
  font-weight: bold;
  letter-spacing:2px;
  font-size: 18px;
  line-height: 30px
}

.shop-now-btn {
  padding: 15px;
  position: absolute;
  border-radius: 25px;
  width: 130px;
  margin-top: 20px;
  border: 2px solid black;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  line-height: 25px;
}

.hero button:hover {
  background-color: black;
  color:white;
}

.arrivals {
  min-height: 500px;
  /*background-color: rgb(241, 241, 241);*/
  background-color: white;
}

.arrivals p {
  position: relative;
  left: -100px;
  width:200px;
  transition: left 1s;
}

.trail {
  height:500px;
  background-color: rgb(241, 241, 241);
}

.trail-bg {
  position: absolute;
  width: 100%;
  height: 500px;
  background-image: url('../img/sections/trail-bg.png');
  background-position: right;
  background-repeat: no-repeat;
}

.trail-socks {
  height: 500px;
  width:50%;
  float: right;
  position: relative;
  background-image: url('../img/sections/trail-fg.png');
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0;
  visibility: hidden;
}

.trail-text {
  max-width: 33%;
  margin-left: 13%;
  padding-top: 130px;
  opacity: 0;
  visibility: hidden;
}

.trail-text h1, .mnt-text h1 {
  font-size: 48px;
  display: inline;
  color: #333;
}

.trail-heading::after {
  background-color: #fe5a7d;
  content: '';
  display: block;
  height: 2px;
  margin-top: 17px;
  width: 170px;
}

.trail-text p, .mnt-text p {
  margin-top: 15px;
  letter-spacing:2px;
  font-size: 15px;
  line-height: 30px;
  color: #333;
}

.trail-text button:hover {
  background-color: #fe5a7d;
  color: white;
  border-color: #fe5a7d;
  cursor: pointer;
}

.mountain {
  height: 500px;
  background-color: white;
}

.mountain-bg {
  width: 100%;
  height: 500px;
  position: absolute;
  background-image: url('../img/sections/mnt-bg.png');
  background-position: left;
  background-repeat: no-repeat;
}

.mountain-socks {
  width:50%;
  height: 500px;
  position: relative;
  float:left; 
  background-image: url('../img/sections/mnt-fg.png');
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0;
  visibility: hidden;
}

.mnt-text {
  float: right;
  max-width: 33%;
  padding-top:130px;
  margin-right: 13%;
  opacity: 0;
  visibility: hidden;
}

.mnt-text h1::after {
  background-color: #41cbb0;
  content: '';
  display: block;
  height: 2px;
  margin-top: 17px;
  width: 170px;
}

.mnt-text button:hover {
  background-color: #41cbb0;
  border-color: #41cbb0;
  color: white;
  cursor: pointer;
}

.road {
  height:500px;
  background-color: rgb(241, 241, 241);
}

.road-bg {
  height: 500px;
  width: 100%;
  position: absolute;
  background-image: url('../img/sections/road-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}

.road-socks {
  background-image: url('../img/sections/road-fg.png');
  position: relative;
  width: 50%;
  height: 500px;
  float: right;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0;
  visibility: hidden;
}

.road-heading::after{
  background-color: #FD8E00;
  content: '';
  display: block;
  height: 2px;
  margin-top: 17px;
  width: 170px;
}

.road-socks button:hover {
  background-color: #FD8E00;
  border-color: #FD8E00;
  color: white;
  cursor: pointer;
}

.shop-now {
  width:100%;
  min-height: 400px;
  background-image: url('../img/sections/shop-now.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.shop-now-text {
  flex-basis:33%;
  text-align: center;
  margin: auto;
}

.shop-now-text h1 {
  margin-top:10px;
  font-size: 3em;
}

.btn-white {
  color:white;
  padding: 15px;
  border-radius: 25%;
  width: 50%;
  margin-top: 20px;
  border: 2px solid white;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.btn-white:hover{
  border-color: white;
  color: black;
  background-color: white;
}

.benefits {
  min-height: 700px;
  width: 100%;
  position: relative;
}

.left {
  position: absolute;
  color: #333;
  font-size: 25px;
  margin-top: 10%;
  margin-left: 12%;
  z-index: 1;
}

.benefits-buttons {
  min-height: 110px;
  width: 100%;
  position: absolute;
}

.benefit-btn {
  flex-basis: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.util-btn {
  background-image: url('../img/benefits/util.png');
}

.blister-btn {
  background-image: url('../img/benefits/blister.png');
}

.manage-btn {
  background-image: url('../img/benefits/manage.png');
}

.dark {
  background-image: url('../img/benefits/util-bg.png');
}

.dark1 {
  background-image: url('../img/benefits/blister-bg.png');
}

.dark2 {
  background-image: url('../img/benefits/manage-bg.png');
}

.benefit-bg {
  background-position: right;
  background-size: contain;
  width: 100%;
  min-height: 700px;
  background-repeat: no-repeat;
  display: none;
  /*opacity: 0.5;
  /*transition: opacity 2s;
 /* animation-name: fade;
  animation-duration: 0.5s;*/
}

.description {
  margin-left: 12%;
  margin-top: 21%;
  width: 30%;
  line-height: 2;
}

.description h1 {
  position: relative;
  top: 20px;
  color: #333;
}

.description p {
  font-weight: bold;
  margin-top: 40px;
  font-size: 16px;
  color:#747779;
}

.util {
  background-image: url('../img/benefits/1.png');
  background-color: #DEEDF4;
  position: absolute;
}

.blister {
  background-image: url('../img/benefits/2.png');
  background-color:#D8C9C5;
  position: absolute;
}

.manage {
  background-image: url('../img/benefits/3.png');
  background-color:#EAECEA;
  position: absolute;
}

.shop-cover {
  min-height: 400px;
  background-image: url('../img/sections/shop-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  padding: 10%;
}

.products-content {
  min-height: 800px;
  width:100%;
  padding:2%;
  background-color: #F6F7F8;
}

.filter {
  margin-top: 50px;
  flex:1;
  background-color: white;
}

.filter p {
  margin: 50px;
  color: #333;
}

.filter h5 {
  margin: 40px;
  color: #333;
  font-size: 20px;
}

.filter hr {
  width: 90%;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #333;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.products {
  text-align: center;
  flex:5;
  margin-top:50px;
}

.products h1 {
  margin-top: 200px;
}

.products img {
  max-width: 100%;
  height: auto;
}

.product {
  width: 33%;
  min-height: 350px;
  display: inline-block;
}

.product img:hover {
  opacity: 0.8;
}

.product a {
  text-decoration: none;
  color: #333;
}

.product a:hover {
  opacity: 0.6;
}

.product-name {
  width: 100%;
  position: relative;
  bottom: 10px;
}

.product-details {
  color: #333;
  min-height: 550px;
}

.product-image {
  /* position: relative;
  top: 50px; */
  flex: 1;
  text-align: center;
  height: 415px;
}

.product-image img {
  margin-top: 70px;
  max-width: 100%;
  height: auto;
}

.product-right {
  margin-top: 40px;
  /* position: relative;
  top: 10px; */
  flex: 1;
  min-height: 415px;
  text-align: center;
  font-size: 21px;
}

.product-right h1 {
  width: 230px;
  margin: 0 auto;
}

.product-right button {
  border: none;
  color: white;
  text-decoration: none;
  width: 40%;
  margin-top: 10px;
  height: 80px;
  font-size:34px;
  background-color: #e31e26;
  cursor: pointer;
}

.product-right button:hover {
  opacity: 0.8;
}

.more {
  background-color: #F6F7F8;
  color: #333;
  justify-content: space-around;
}

.product-description {
  flex: 1;
  text-align: left;
  /* margin: 0 auto; */
  padding-top: 100px;
  line-height: 2em;
  color: #333;
}

.product-description h1 {
  margin: 20px 0px 30px 0;
}

.more input{
  border: 1px solid #c7c7c7;
  height: 50px;
  width: 50%;
  color: #798189;
  padding: 0 20px;
  margin: 10px auto;
}

.more textarea {
  border: 1px solid #c7c7c7;
  width: 50%;
  color: #798189;
  padding: 0 20px;
  margin: 10px auto;
}

.review {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.review button{
  border: none;
  color: white;
  text-decoration: none;
  width: 20%;
  margin-top: 10px;
  height: 40px;
  font-size:25px;
  background-color: #e31e26;
  cursor: pointer;
}

.comments {
  flex: 1;
  padding: 20px;
}

.more a {
  font-size: 36px;
  height: 50px;
  flex: 1;
  margin: 100px;
  text-decoration: none;
  font-style: italic;
  color: #337AC0;
}

.comment {
  width: 400px;
  min-height: 200px;
  margin: auto;
  margin-bottom: 10px;
  background-color: #F6E6FF;
  padding: 20px;
}

.comment span {
  color: seagreen;
}

.comment p:first-of-type {
  font-style: italic;
}

.comment p {
  margin-top: 10px
}

#items {
  padding: 5%;
  width: 60%;
  min-height: 700px;
  background-color: #F6F7F8;
  float: left;
}
.item:first-of-type{
  border-top: 1px solid black;
}
.item {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.item-left {
  flex:1;
  height: 100%;
}

.item-mid {
  height: 100%;
  flex: 2;
  margin-top: 40%;
  text-align: center;
}

.item-right {
  flex: 1;
  height: 100%;
  text-align: center;
  margin-top: 30%;
}

.item-right button {
  border: 1px solid black;
  height: 50px;
  width: 50%;
  border-radius: 25px;
  background-color: white;
  margin: auto;
  cursor: pointer;
}

.item img{
  max-width: 100%;
  height: 100%;
}

.checkout {
  width: 40%;
  background-color: #F6F7F8;
  min-height: 700px;
  float: right;
}

.product-right hr {
  width: 50%;
  margin: 20px auto;
}

.register {
  min-height: 700px;
  width: 100%;
  padding-top: 5%;
  background-color: #F6F7F8;
  text-align: center;
}

.register p::after{
  content:"*";
  color: red;
}

.register h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#insert {
  width: 60%;
  margin: 0 auto;
}

.register input, .login input {
  border: 1px solid #c7c7c7;
  height: 50px;
  width: 80%;
  border-radius: 25px;
  color: #798189;
  padding: 0 29px;
  margin: 10px auto;
}

.login {
  color: #3b3b3b;
  width:50%;
  min-height: 500px;
  float: left;
  text-align: center;
  padding: 5%;
  background-color: #F6F7F8;
}

.new-customer {
  width: 50%;
  min-height: 500px;
  padding: 10%;
  float: right;
  background-color: #F6F7F8;
  color: #3b3b3b;
}

.new-customer p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

.register-btn:hover {
  color: white; 
  background-color: black;
}

.register-btn {
  border: 1px solid black;
  height: 50px;
  width: 50%;
  border-radius: 25px;
  background-color: white;
  padding: 0 29px;
  margin: 10px auto;
}

.login-btn {
  margin-top: 20px;
}

.login h1 {
  font-size: 48px;
  margin: 0px;
}
.login h3 {
  margin: 10px;
}

.login h5 {
  margin: 10px;
}

.register-btn {
  font-weight: bold;
  cursor: pointer;
  color: black;
}

/*ANIMATIONS*/

/*BENEFITS FADE*/
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
  opacity: 1;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
/*BENEFITS END*/

/*SLIDE RIGHT*/
.slideToRight {
  animation-name: slideToRight;
  animation-duration: 1s;
  opacity: 1;
  visibility: visible;
}

@keyframes slideToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
} 
100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
/*SLIDE RIGHT END*/

/*SLIDE TO LEFT*/
.slideToLeft {
  animation-name: slideToLeft;
  animation-duration: 1s;
  opacity: 1;
  visibility: visible;
}

@keyframes slideToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
} 
100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
/*SLIDE LEFT END*/
